<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>woocommerce</title>
    <style>
        h1{
            color: green;
        }
    </style>
</head>
<body>
    <h1>hello this is woocommerce website</h1>
    
</body>
</html>